*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fff;
}
:root{
    --preto:            #333;
    --branco:           #fff;
    --verde-Padrao:     #30E399;
    --background:       #f1f1f1;
    --background-Adocao:#fffffff5;
    --hover:            #d7eaf9;
}
/*basico*/
    body {
        background-color: var(--preto);
    }
    html {
        scroll-behavior: smooth;
    }
/*basico*/

/*Inicio Nav-Bar*/
    header {
        border-bottom: 2px solid var(--verde-Padrao);
        background: var(--preto);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav .menu-faketrigger {
        display: none;
    }
    header nav ul {
        display: flex;
        list-style: none;
    }
    header nav ul li {
        font-size: 1.2rem;
        padding: 10% 1.2em;
    }
    header nav ul li a {
        text-decoration: none;
        color: var(--verde-Padrao);
    }
    header nav ul li a:hover {
        color:  var(--hover);
        transition: all ease .3s;
        text-decoration: underline;
    }

    /*Inicio Introdução*/
    .titulo {
        font-size: 40px;
        margin: 10px 1.2em;
        text-align: center;
        background: -webkit-linear-gradient(180deg, rgb(255, 255, 255) 36%, rgba(48, 227, 137, 1) 0%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
/*Fim Introdução
/*Inicio Footer Desktop*/
footer {
    border-top: 2px solid var(--verde-Padrao);
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    background-color: var(--preto);
    padding: 20px 0;
    text-align: center;
    bottom: 0%;
    width: 100%;
    color: var(--branco);
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
.footer-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.footer-links li {
    display: inline;
}
.footer-links li a {
    color: var(--verde-Padrao);
    text-decoration: none;
    margin: 0 10px;
}
.footer-links li a:hover {
    color: var(--branco);
    text-decoration: underline;
}
/*Fim footer Desktop*/
/*Fim Nav-Bar*/
section{
    margin: 4% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 15px;
    background: #333;
    width: 500px;
    box-shadow: #30e399 0px 2px 4px, #30e399 0px 7px 13px -3px, #30e399 0px -3px 0px inset;
}
section h2{
    color: #30e399;
    font-size: 2.5rem;
    margin: 2rem;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus{
    border-radius: 16px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
form textarea:focus{
    border-radius: 16px;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #30e399;
    color: #fff;
    transition: all 1s;
    margin-bottom: 20px;
}
form button a{
    color: #fff;
    text-decoration: none;
}
form button:hover{
    background: #30e399;
    color: #333;
    border-radius: 16px;
}

/*Página do Obrigado*/

.main{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background: #333;
   flex-direction: column;
}
.text{
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
}
.paragrafo{
    color: #f5f5f5;
    margin-bottom: 50px;
}
.btn{
    padding: 15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: all 0.5s;
}
.btn:hover{
    border-radius: 16px;
}
