@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/*Inicio Nav-Bar*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .menu-faketrigger{
    display: none;
}
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    font-size: 1.2rem;
    padding: 15px 20px;
}
header nav ul li a{
    color: #30E389;
}
header nav ul li a:hover{
    color: #D7EAF9;
    transition: all ease .3s;
    text-decoration: underline;
}
header .logo{
    width: 170px;
}
/*Fim Nav-Bar*/

/*Inicio Introdução*/
.titulo{
    font-size: 80px;
    margin: 20px 0;
    text-align: center;
    background: -webkit-linear-gradient(180deg,rgba(2,0,36,1) 47%, rgba(48,227,137,1) 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*Inicio Slider*/
.slider{
    display: block;
    border-radius: 11px;
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 300px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    transition: 2s;
    width: 25%;
    position: relative;
}
.slide img{
    width: 1000px;
}

#radio1:checked ~ .first{
    margin-left: 0;
    transition: all ease .5s;
}
#radio2:checked ~ .first{
    margin-left: -25%;
    transition: all ease .5s;
}
#radio3:checked ~ .first{
    margin-left: -50%;
    transition: all ease .5s;
}
#radio4:checked ~ .first{
    margin-left: -75%;
    transition: all ease .5s;
}
.navigation-auto div{
    border: 3px solid ghostwhite;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 1550px;
    margin-top: 470px;
    display: flex;
    justify-content: center;
}
/*Fim Slide*/
/*Fim Introdução*/

/*INICIO SOBRE*/
.Sobre{
    background-color: #eeeeeef5;
    margin: 1% 0 0 0;
}
.card-sobre{
    padding: 50px 90px;
}
.sobreT{
    margin-bottom: 15px;
    font-size: 1.5rem;
}
.card-sobre p{
    font-size: 1.2rem;
}
/*FIM SOBRE*/
/*INICIO ADOCAO*/
.card-adocao{
    padding: 50px 90px;
}
.adocaoT{
    margin-bottom: 15px;
    font-size: 1.5rem;
}
.card-adocao p{
    font-size: 1.2rem;
}
.btnAD{
    justify-content: center;
    text-align: center;
    padding: 10px 8px;
    width: 150px;
    background-color: #30E389;
    border: 1px solid black;
    align-items: center;
    margin: 20PX auto;
    border-radius: 15px;
}
.btnAD a{
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    font-size: 1.3rem;
   color: #fff;
}

.Doacao{
    background-color: #eeeeeef5;
    margin: 1% 0 0 0;
    padding: 15PX 0;
}
.card-doacao{
    padding: 50px 90px;
}
.doacaoT{
    margin-bottom: 15px;
    font-size: 1.5rem;
}
.card-doacao p{
    font-size: 1.2rem;
}
.card-doacao .btnDA{
    margin:  0 0 50PX 0;
}
.btnDA{
    justify-content: center;
    text-align: center;
    padding: 10px 8px;
    width: 150px;
    background-color: #30E389;
    border: 1px solid black;
    align-items: center;
    margin: 20PX auto;
    border-radius: 15px;
}
.btnDA a{
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    font-size: 1.3rem;
   color: #fff;
}

/*INICIO FOOTER*/
footer{
    background-color: #30E389;
    padding: 20px 0;
}
footer p{
    justify-content: center;
    display: flex;
}
footer .contato{
    justify-content: center;
    display: flex;
}
footer .icones{
    margin: 0 20px;
}
/*FIM FOOTER*/

@media (max-width: 450px){
    /*MENU HAMBURGUER*/
    .menu .menu-faketrigger{
        position: absolute;
        z-index: 1000;
        width: 35px;
        height: 35px;
        opacity: 0;
        margin: -16px 0 0 10px;
    }
    .menu .menu-lines{
        position: absolute;
        z-index: 999;
        width: 35px;
        height: 35px;
    }
    .menu .menu-lines span{
        display: block;
        width: 35px;
        height: 4px;
        margin-bottom: 10px;
        background-color: black;
        border-radius: 4px;
        transition: all ease .3s;
    }
    header nav .menu-faketrigger{
        display: block;
    }
    .menu .menu-faketrigger:checked ~ .menu-lines span{
        background-color: aliceblue;
    }
    .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
        transform-origin: 0% 0%;
        transform: rotate(45deg)scaleX(1.25);
    }
    .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
        opacity: 0;
    }
    .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
        transform-origin: 0% 100%;
        transform: rotate(-45deg) scaleX(1.25);
    }
    .menu .menu-lines{
        margin: -16px 0 0 10px;
    }
    .menu ul{
        position: absolute;
        z-index: 998;
        left: 0;
        top: 0;
        width: 250px;
        height: 100vh;
        background-color: #333;
        padding-top: 150px;
        margin-left: -250px;
        transition: all ease .4s;
    }
    .menu .menu-faketrigger:checked ~ ul{
        transition: all ease .4s;
        margin-left: 0;
    }
    header nav ul{
        display: block;
    }
    header nav ul li a{
        color: #30E389;
    }
    header .logo{
       width: 32%;
       margin: 0 10px;
    } 
    /*FIM DO MENU*/

    /*INICIO TITULO */ 
    .titulo{
        font-size: 64px;
        margin: 20px 0;
        text-align: center;
        background: -webkit-linear-gradient(180deg,rgba(2,0,36,1) 41%, rgba(48,227,137,1) 0%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .slider{
        border-radius: 11px;
        margin: 0 auto;
        width: 330px;
        height: 200px;
        overflow: hidden;
    }
    .slides{
        width: 400%;
        height: 300px;
        display: flex;
    }
    .slides input{
    display: none;
    }
    .slide{
        transition: 2s;
        width: 25%;
        position: relative;
    }
    .slide img{
        width: 330px;
    }
    .manual-navigation, .navigation-auto{
        display: none;
    }
    /*FIM TITULO*/

    /*INICIO SOBRE*/
    .Sobre{
        margin: 20px 25px;
    }
    .sobreT h2{ 
        margin-bottom: 10px;
        font-size: 2.5rem;
        text-align: center;
    }
    .card-sobre{
        box-shadow: 0px 0px 3px 3px  #ccc;
        border-radius: 11px;
        padding: 15px 15px;
        background-color: ghostwhite;
    }
    .card-sobre p{
        font-size: 1.3rem;
    }
    /*FIM SOBRE*/

    /*INICIO ADOÇAO*/
    .Adocao{
        margin: 20px 25px;
    }
    .adocaoT h2{ 
        margin-bottom: 10px;
        font-size: 2.5rem;
        text-align: center;
    }
    .card-adocao{
        box-shadow: 0px 0px 3px 3px  #ccc;
        border-radius: 11px;
        padding: 15px 15px;
        background-color: ghostwhite;
    }
    .card-adocao p{
        font-size: 1.3rem;
    }
    /*FIM ADOÇÃO*/
    .Doacao{
        margin: 20px 25px;
    }
    .doacaoT h2{ 
        margin-bottom: 10px;
        font-size: 2.5rem;
        text-align: center;
    }
    .card-doacao{
        box-shadow: 0px 0px 3px 3px  #ccc;
        border-radius: 11px;
        padding: 15px 15px;
        background-color: ghostwhite;
    }
    .card-doacao p{
        font-size: 1.3rem;
    }

}

